@{
    ViewBag.Title = "CheckStatusCoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info"><h3>Your Application is @ViewBag.statusCoc</h3>
    PS: Please come to STC for further Details</div>
