@{
    ViewBag.Title = "hierarchy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div style="background-color: lightblue;" class="col-md-12">
        <h2 style="background-color: lightblue">Hierarchy of Directorate of Students Affairs</h2>

        <br />
        <br />
       
        <img class="img-responsive col-md-12" src="~/contents/image/hir.jpg" />
        

    </div>
</div>
<br />
<br />
<br />

