@{
    ViewBag.Title = "STC Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model STC_online.Models.SignUp

<link href="~/contents/bootstrap.css" rel="stylesheet" />
<script src="~/contents/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="~/contents/jquery-2.1.1.js"></script>
<link rel="stylesheet" type="text/css" href="~/engine1/style.css" media="screen" />
<style type="text/css">
    a#vlb {
        display: none;
    }
</style>
<script type="~/text/javascript" src="~/engine1/jquery.js"></script>
<br/>
<br/>
<br/>
<br/>
<div class="row">
   
    <div class="col-md-12">
        <!-- Start WOWSlider.com BODY section -->
        <div id="wowslider-container1">
            <div class="ws_images">
                <a href="#"><img src="~/data1/images/khanaspur.jpg" alt="khanaspur" title="khanaspur" id="wows0" /></a>
                <a href="#"><img src="~/data1/images/lse.jpg" alt="LSE" title="LSE" id="wows1" /></a>
                <a href="#"><img src="~/data1/images/aimc.jpg" alt="AIMC" title="AIMC" id="wows2" /></a>
                <a href="#"><img src="~/data1/images/debating_familay_mushkporitop.jpg" alt="Debating Familay at Mushkpori-Top" title="Debating Familay Mushkpori-Top" id="wows3" /></a>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#wows0" title="khanaspur"><img src="~/data1/tooltips/khanaspur.jpg" alt="khanaspur" />1</a>
                    <a href="#wows1" title="LSE"><img src="~/data1/tooltips/lse.jpg" alt="LSE" />2</a>
                    <a href="#wows2" title="AIMC"><img src="~/data1/tooltips/aimc.jpg" alt="AIMC" />3</a>
                    <a href="#wows3" title="Debating Familay Mushkpori-Top"><img src="~/data1/tooltips/debating_familay_mushkporitop.jpg" alt="Debating Familay Mushkpori-Top" />4</a>
                </div>
            </div>
           
            <div class="ws_shadow"></div>
        </div>
        <script type="text/javascript" src="~/engine1/script.js"></script>
        <!-- End WOWSlider.com BODY section -->
    </div>


      

    </div>


    

<br /><br /><br /><br /><br /><br /><br /><br />
