@{
    ViewBag.Title = "InValidSignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info"><h3>Invalid CNIC or / And Password<br><br> Sign-In again <button class="btn " style="color: lightblue"><a href="SignIn">Here</a></button></h3></div>



