@{
    ViewBag.Title = "MsgOfVc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
     <div style="background-color: lightblue;" class="col-md-12" >
    <h2 style="background-color: lightblue">Message of the Vice Chancellor<br/></h2>

   
        <br />
        <br />
        <br />
        <img class="img-responsive col-md-4" src="~/contents/image/vc.jpg" />
         <p class="col-md-8" style="background-color: lightblue; font-size: 16px  " align="justify">
             
             <br/>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
             Building on an impressive history of accomplishment, the Directorate of
             Students Affairs (DSA) has always reinforced the commitment of the University
             of the Punjab for shaping a better future for individuals and the society.
             Our mission to impart knowledge for the betterment of the society is reflected
             through the gems of the University of the Punjab that represent this University
             all over Pakistan in co-curricular competitions.<br /><br />

             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The University of the Punjab, since 2008, has risen as the Institute with the most
             laurels achieved and is setting great milestones for universities all over Pakistan.
             A huge number of brilliant students has actively contributed to and has been playing
             pivotal in the achievements of the DSA both directly and indirectly.<br /><br />

             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Striving for excellence – in writing, public speaking, debating, dramatics, and a variety
             of other co-curricular activities – remains the primary focus of DSA and has been vital in
             enhancing the repute of the university at national and international level. This office
             has been a body which supports students through every obstacle they might face during
             their term - be it pre-term orientation, co-curricular activities, or be it information-laden
             seminars on social issues.<br /><br />

             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; It has been our divine duty to promote education with an extra advantage which would ensure
             better graduates with a better understanding for their future. University of The Punjab is
             proud of the creative, resourceful stars working in different fields and standing out amongst
             the best of the best.<br /><br />

             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Our aspirations are high and we shall move forward in terms of outstanding performance.
             We shall not only build upon the areas of our strength, but also be confident and bold
             enough to make changes at the same time that will enable us to enhance our reputation
             and performance. We can only achieve our goals by striving for excellence in all our
             doings and by seeking every opportunity towards success.
             <br/>
             <br/>
             <br/>
             <br/>
             Prof. Dr. Mujahid Kamran<br/>
             Vice Chancellor University of the Punjab

         </p>
       
    </div>
</div>
<br/>
<br/>
<br/>
