@{
    ViewBag.Title = "RulesAndReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div style="background-color: lightblue;" class="col-md-12">
        <h2 style="background-color: lightblue">Rules and Regulations for Hostel Residents.<br /></h2>


        <br />
        <br />
        
        <p class="col-md-10" style="background-color: lightblue; font-size: 16px  " align="justify">
            <br /><br />    Students are expected to act in such a manner that an atmosphere conducive to effective study prevails in the hostel.
            <br /><br />    Students are required to be aware of all notices that are put up on the Notice Boards.
            <br /><br />     The hostel wardens have full authority to check any room in the hostel at any time with or without the help from local administration.
            <br /><br />     Ragging is a cognizable offence, punishable under the law and is strictly banned. Any student involved in any kind of ragging will be liable for immediate expulsion from the hostel/college.
            <br /><br />     Possession of fire arms, daggers, cycle chains, rods, iron rods or any other kind of weapons are strictly prohibited (Arms Acts.). Hostel inmates found in possession of the above will be handed over to the police or expelled from hostel immediately. No inquiry into the matter shall be required.
            <br /><br />     No one is allowed to take part in any type of video film show in the hostel premises without the permission of the hostel warden.
            <br /><br />     Unauthorized guests or outsiders in the hostel room are strictly prohibited. Any student keeping unauthorized person in his/her room will be liable to disciplinary action amounting to expulsion from the hostel. Guest may be allowed on prior written permission of the warden.
            <br /><br />     No student shall occupy or interchange the room without permission and proper allotment of the room by hostel warden.
            <br /><br />     Consumption of alcohol and other intoxicants and drugs are strictly prohibited. Anyone found consuming alcohol or drugs will be expelled from the hostel immediately. No enquiry into the matter shall be required.
            <br /><br />     Cooking food in the hostel room is strictly prohibited. In order to avoid fire hazards, no fire producing equipment in the room is permitted.
            <br /><br />     Hostellers are warned not to keep valuable goods in their rooms. Hostel management shall not be responsible for loss of such valuables.
            <br /><br />     Students shall have to abide by the decisions of the hostel wardens with respect to enforcement of the hostel rules failing which strict disciplinary action may be taken.
            <br /><br />     While leaving the rooms, it must be ensured that the light and fans are switched off failing which he/she will be liable to imposition of fines.
            <br /><br />     Use of electrical appliances such as heaters, electrical irons etc. are strictly prohibited. Violation of this rule will lead to strict disciplinary action. Confiscation along with a fine of Rs. 500/- shall be imposed.
            <br /><br />      Tampering with and alteration of electrical fittings are strictly prohibited and liable for action.
            <br /><br />      Hostellers desiring to go out of station must obtain permission from the warden concerned before going out.
            <br /><br />       Damage to hostel property such as doors, windows, electrical fitting, toilet fitting, glass panes etc. will lead to fine, disciplinary action, expulsion from the hostel. A general deduction from the hostel security deposit will be made at the end of the course, towards the breakage other than those, which are charged against the individuals.
            <br /><br />       No permission shall be given to a student to stay in the hostel after his/her even semester examinations are over, and for the purpose of preparation or appearance in any entrance test or any competitive examination he/she must obtain permission from the warden.
            <br />
          
        </p>

    </div>
</div>
<br />
<br />
<br />

